.div1{
    background-color: white;
    color: black;
    height: 710px;
    width: 350px;
}
#id1{
    padding-top: 20px;
    font-size: 10px;
}
#a1{
    padding-top: 15px;
    font-size: 20px;
    padding-bottom: 32px;
}

/*footer*/
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: black;
    color: #fff;
    padding: 50px 0 -30;
    /* border-top-left-radius: 125px; */
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
label.logo-foot{
    width: 80px;
    margin-bottom: 30px;
    padding-left: -10px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.col ul li{
    list-style: none;
    margin-bottom: 12px;
}
.col ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
form.fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa-solid{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
    
}
.copyright{
    text-align: center;
}