{% extends 'commontemplates/common_master.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-lg-12">
            <form method="POST">
                {% csrf_token %}
            
            <div class="card shadow border">
                <div class="card-body">
                    <h3>CHANGE PASSWORD</h3>
                    <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Cureent Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" name="crnt_pswrd">
                    </div><br />
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" name="new_pswrd">
                    </div><br />
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" name="cnfrm_pswrd">
                    </div><br />
                    
                    <button class="btn-btn">submit</button>
                    {{msg}}
                    </form>
                </div>        
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>
