{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller home</title>
    <link rel="stylesheet" href="{% static 'css/sellerhome.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/01741b9219.js"></script>
    <style>
        .div1{
            width: 300px;
        }
        .list-group{
            padding: 20px 20px;
        }
        .list-group a{
            padding: 20px 20px;
        }
    </style>
</head>
<body style="background-color: rgb(70, 123, 154);">
    
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ECOMApp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <button class="btn btn-outline-success" type="submit"><a href="#">LOGOUT</a></button>
        </div>
    </nav>   
    {% block content %}
   
    {% endblock %}

        <div class="div1">
            
                <div><img src="{% static 'images/seller.jpg' %}" alt="" width="300px" height="300px" style="border-radius: 200px; padding-top:10px;"></div>
            
        

            <div class="list-group" id="id1">
                <a id="a1" href="{% url 'seller:seller_home' %}" class="list-group-item list-group-item-action list-group-item-primary" style="color: black;">Home</a>
                <a id="a1" href="#" class="list-group-item list-group-item-action list-group-item-primary" style="color: black;">Catalogue</a>
                <a id="a1" href="#" class="list-group-item list-group-item-action list-group-item-primary" style="color: black;">Add Product</a>
                <a id="a1" href="#" class="list-group-item list-group-item-action list-group-item-primary" style="color: black;">Update Stoke</a>
                <a id="a1" href="#" class="list-group-item list-group-item-action list-group-item-primary" style="color: black;">Change Password</a>
                <a id="a1" href="{% url 'common:seller_login' %}" class="list-group-item list-group-item-action list-group-item-primary" style="color: black;">Logout</a>
            </div>
        </div>
</body>
<footer>
    <div class="row">
        <div class="col">
            <h3>ECOMApp</h3>
            <p>agdjhskhdlsjklskl;<br>dgshdkjlkd<br>jhddkll;sak;l;.</p>
        </div>
        <div class="col">
            <h3>Office</h3>
            <p>ABC Road</p>
            <p>While Field, ABCD</p>
            <p>Kerala, PIN 673501, India</p>
            <p class="email-id">abcd@gmail.com</p>
            <p>+91 - 01234567</p>
        </div>
        <div class="col">
            <h3>Links</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Awards</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Newsletter</h3>
            <form action="">
                <i class="fa-regular fa-envelope"></i>
                <input type="email" placeholder=" Enter your email id" required>
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-square-whatsapp"></i>
                <i class="fa-brands fa-square-instagram"></i>
            </div>
        </div>
    </div>
    <hr>
    <p class="copyright">©ECOMApp Ltd 2022</p>
</footer>
</html>